<div class="user">
  <%= render  "shared/show_errors", model: @user %>
  <%= form_with model: @user, local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit 'Create ' %>
  <% end %>
</div>