<!DOCTYPE html>
<html>
  <head>
    <title>Lifestyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/042baba16c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.2.0/dist/simpleParallax.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lato:900&display=swap' %>
    <%= stylesheet_link_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css' %>
  </head>
  <body>
    <% flash.each do |type, msg| %>
      <h1 class="animated fadeOut flash delay-1s <%= type %>"><%= msg %></h1>
    <% end %>
    <div class="main">
      <%= render  "shared/navbar" %>
      <div class="container">
        <%= yield %>
      </div>
      <%= render  "shared/footer" %>
    </div>
    <%= javascript_pack_tag 'custom' %>
  </body>
</html>
